@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "built-titling";
    src: url("/src/fonts/built\ titling\ bd.otf") format("opentype");
    font-weight: 500;
    font-style: bold;
  }
  