/** @format */

/* Section background */
section {
	background-color: #ebce89;
}

/* Flip Card Container */
.flip-card {
	background-color: #ebce89;
	margin: 0;
	width: 100%; /* Full width on mobile */
	max-width: 350px; /* Restrict max width */
	height: 450px;
	font-family: sans-serif;
	perspective: 1000px; /* Creates 3D effect */
}

/* Title styling */
.title {
	font-weight: 900;
	text-align: center;
}

/* Inner flip structure */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Flip on hover for larger screens */
@media (hover: hover) {
	.flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	}
}

/* Flip on click for mobile */
@media (max-width: 768px) {
	.flip-card.flipped .flip-card-inner {
		transform: rotateY(180deg);
	}
}

/* Card Faces */
.flip-card-front,
.flip-card-back {
	box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 25px;
}

/* Front Card Styling */
.flip-card-front {
	color: #ebce89;
	background-color: #333; /* Darker background for contrast */
}

/* Back Card Styling */
.flip-card-back {
	color: #ebce89;
	transform: rotateY(180deg);
}

/* Mobile Adjustments */
@media (max-width: 768px) {
	
	.flip-card {
		height: 400px; /* Reduce height for smaller screens */
		margin-top: 50px;
		margin-left: 15px;
		
	}

	.flip-card-inner {
		transition: transform 0.6s; /* Faster transition on mobile */
	}
}
