/** @format */

.container {
	height: 330px;
	width: 370px;
	border-radius: 25%;
	transform: rotate(7deg);
	position: absolute;
	top: 10%;
	left: 2.5%;
}
.actualContainer {
	position: relative;
	top: 14%;
	height: 50%;
	width: 90%;
	border-radius: 25%;
	display: flex;
	flex-wrap: wrap;
	left: 5%;
	transform: rotate(-7deg);
	transition: background-color 1s ease-in-out;
}
.textDiv {
	height: 30%;
	width: 300px;
	position: relative;
	transform: back;
	padding-left: 5%;
	padding-right: 5%;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 1.3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.actualContainer div:hover {
	background-color: #610420;
	color: #ebce89;
}
